# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: MSVC

on:
  workflow_dispatch:
  push:
    tags: ["v*"]

env:
  PROJECT_NAME: ifsjpeglicm

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        arch: ["x86", "x64"]
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set Variables
      run: |
        if ("${{matrix.arch}}" -eq "x86")
        {
          echo "MSVC_ARCH=Win32" >> $env:GITHUB_ENV
          echo "SPI_EXT=spi" >> $env:GITHUB_ENV
        }
        else
        {
          echo "MSVC_ARCH=x64" >> $env:GITHUB_ENV
          echo "SPI_EXT=sph" >> $env:GITHUB_ENV
        }

    - name: Show Variables
      run: |
        echo "env env.MSVC_ARCH ${{env.MSVC_ARCH}}"
        echo "env env.SPI_EXT ${{env.SPI_EXT}}"

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v2

    - name: Check cmake version
      run: cmake --version

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Checkout Jpegli
      run: .\build_checkout_jpegli.cmd

    - name: Bulid Jpegli
      run: .\build_jpegli.cmd ${{env.MSVC_ARCH}}

    - name: Checkout OpenCV
      run: .\build_checkout_opencv.cmd

    - name: Bulid OpenCV
      run: .\build_opencv.cmd ${{env.MSVC_ARCH}}

    - name: Build SPI
      run: msbuild /m /p:Platform=${{matrix.arch}} /p:Configuration=Release .

    - name: Create a zip file
      run: |
        New-Item ".\${{env.PROJECT_NAME}}\LICENSE\" -ItemType Directory -Force
        Copy-Item -Path ".\out\${{env.MSVC_ARCH}}\Release\${{env.PROJECT_NAME}}.${{env.SPI_EXT}}" -Destination ".\${{env.PROJECT_NAME}}\"

        if("${{matrix.arch}}" -eq "x64")
        {
          Copy-Item -Path ".\LICENSE" -Destination ".\${{env.PROJECT_NAME}}\LICENSE\LICENSE_${{env.PROJECT_NAME}}"
          Copy-Item -Path ".\jpegli\LICENSE" -Destination ".\${{env.PROJECT_NAME}}\LICENSE\LICENSE_jpegli"
          Copy-Item -Path ".\jpegli\third_party\highway\LICENSE" -Destination ".\${{env.PROJECT_NAME}}\LICENSE\LICENSE_highway"
          Copy-Item -Path ".\opencv\LICENSE" -Destination ".\${{env.PROJECT_NAME}}\LICENSE\LICENSE_opencv"
        }

    - name: Upload Artifact
      uses: actions/upload-artifact@v5
      with:
        name: ${{matrix.arch}}
        path: .\${{env.PROJECT_NAME}}\
        retention-days: 1
        overwrite: true

  Release:
    runs-on: ubuntu-slim
    needs: build
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v6
      with:
        path: ${{env.PROJECT_NAME}}
        merge-multiple: true

    - name: Create a zip
      run: |
        ls -l ./${{env.PROJECT_NAME}}/
        zip -j ${{env.PROJECT_NAME}} ./${{env.PROJECT_NAME}}/*
        ls -l
        zipinfo ./${{env.PROJECT_NAME}}.zip

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: Release ${{github.ref_name}}
        body: |
          ## Release notes
        files: ${{env.PROJECT_NAME}}.zip
  